@font-face {
    font-family: Monserrat-Regular;
    src: url("./monserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Monserrat-SemiBold;
    src: url("./monserrat/Montserrat-SemiBold.ttf") format("truetype");
}