.username {
    font-family: Monserrat-SemiBold;
    font-size: 23px;
}

.litle-title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.card-wrap {
    padding-right: 7px;
    padding-bottom: 10px;
}

.custom-control-input:checked~.custom-control-label::before{
    color: #fff;
    border-color: #32BF7F;
    background-color: #32BF7F;
}

.disabledCard{
    opacity: 0.5;
}