.detailSolution-container{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.detailSolution-divider {
    border-top: 1px solid #414040
}

.detailSolution-author {
    font-family: Monserrat-SemiBold;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.detailSolution-date {
    font-size: 13px;
}

.return-icon{
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
}

.detailSolution-title{
    display: inline-block;
    margin: 0;
    font-family: Monserrat-SemiBold;
    font-size: 20px;
}

.detailSolution-vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}

.text-solution > p {
    font-size: 15px;
    margin: 0;
}

.image-solution > img{
    width: 100%;
}

.container-comments{
    margin-left: 10%;
    margin-right: 10%;
}

.loading.modal.show .modal-dialog{
    width: 80px !important;
}

.detailSolution-btn-mybutton {
    background-color: #414040;   
    color: #b5b5b5;
    font-family: Monserrat-SemiBold;
}

.detailSolution-btn-mybutton:hover {
    background-color: white;   
    color: black;
}

.detailSolution-textArea{
    background-color: #414040;
    color: white;
    border: 0px solid transparent;
    border-radius: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 100%;
    height: auto;
}

.detailSolution-textArea:hover{
    border: 0px solid transparent;
}

.detailSolution-textArea:focus {
    outline: none;
    border: 0px solid solid;
    color: white;
}

.detailSolution-textArea::placeholder {
    opacity: 1;
}

.detailSolution-textArea::-webkit-scrollbar {
    width: 10px;
    background: white;
    border-radius: 0.8rem;
}
    
.detailSolution-textArea::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 0.8rem;
}