input{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 0px solid white;
     color: #414040;
     width: 100%;
     height: 40px;
     padding-left: 20px;
     padding-right: 40px;
}

input:focus {
    outline: none;
    border: 0px solid black;
    color: black;
}

input::placeholder {
    text-align: center; 
} 

.inner-addon { 
    position: relative; 
}

.inner-addon .material-icons {
  position: absolute;
  padding: 11px;
  pointer-events: none;
}

.left-addon .material-icons  { left:  0px;}
.right-addon .material-icons { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 40px; }