.myInput{
    border-radius:0.8rem;
    background-color:#414040;
    color:white;
    border:0px solid transparent;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:15px;
    width:100%
}

.myInput:focus {
    outline: none;
    border: 0px solid solid;
    color: white;
}