@import "./assets/fonts/fonts.scss";

:root {
    --primary-color: black;
    --background-color: black;
    --text-color: white;

    --card-background-color: #414040;
    --trending-badge-background-color: #414040;
    --navbar-background-color: #414040;
    
    --text-color-grey: #b5b5b5;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Monserrat-Regular;

    padding: 0;
    margin: 0;
    // display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.wrap {
    margin-top: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    color: #FFF;
    height: 100%;

    section {
        flex: 1;
    }
}

.username-login {
    font-family: Monserrat-SemiBold;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.register {
    font-family: Monserrat-SemiBold;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.text-right{
    text-align: right !important;
}