.badge-trending {
    color: #fff;
    background-color: var(--trending-badge-background-color);
    border-radius: 0.8rem;
    font-weight: inherit;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.badge-trending:hover{
    color: #414040;
    background-color: #fff;
    font-weight: bold;
}